.category-menu {
    margin-top: 64px;
    margin-bottom: 64px;
}
.category-menu__menu-banner {
    display: flex;

    justify-content: space-between;
    width: 1171px;
    height: 282px;
}
.category-menu__banners {
    display: flex;
    justify-content: space-between;
    width: 870px;
    height: 280px;
}
