.best-selling-products {
    display: flex;
    align-items: center;
    height: 460px;
    
}
.best-selling-products__menu-product {
    display: flex;
    justify-content: space-between;
    
    height: 332px;
    width: 1171px;
    
}
.best-selling-products__items {
    display: flex;
    justify-content: space-between;
    width: 870px;
    height: 280px;
}
