.header {
    border: 1px #079e1b solid;
    height: 178px;
    padding: 0px 45px 0px 45px;
   
}


// @media screen and (max-width:650px){
//     .header__info-group{
// flex-direction: column;
//     }
// }
