html,
body {
    width: 1260px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

html {
    background: #e5e5e5;
}
body,
footer {
    background-color: #ffffff;
}
.main-home-page {
    position: relative;
}

.footer {
    position: absolute;

    width: 1260px;
    height: 556px;

    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
}

.header,
.navigation,
.main-home-page,
.main-blog,
.footer {
    padding: 0px 45px 0px 45px;
}

a {
    text-decoration: none;
}
a:visited,
a:active,
a:link{
    color: rgba(106, 152, 60, 1);
}
a:hover {
    border-bottom: 1px rgb(180, 180, 180) solid;
}

button:hover,
input[type="button"] {
    cursor: pointer;
}

select {
    &:hover {
        cursor: pointer;
    }
}
