.header {
    &__info-group {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        font-family: "Open Sans";
        .header__contact:first-child {
            color: rgba(106, 152, 60, 1);
            margin-left: 0px;
        }

        .header__contact {
            margin-left: 33px;
        }
    }

    &__contact-info {
        li {
            display: inline;
            margin-right: 5px;
        }
    }
    &__link {
        text-decoration: none;
        &:visited,&:active{
            color:rgba(106, 152, 60, 1) ;
           }
    }
    &__nav {
       
       
        .header__nav-link{
            display: inline;
            margin-right: 38px;
        }
        .header__nav-link:last-child{
            margin-right: 0px;
        }
    }
    &__nav-link:hover {
        border-bottom:1px rgb(180, 180, 180) solid ;
        
    }
}
